/* styles.css */
/* Style the dropdown button */
.dropbtn {
    background-color: #e4d12d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container for the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: -1600px;
    
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/* Reset default margin and padding */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Header styles */
header {
    background-color: #0074D9;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Navigation styles */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Main content container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Project styles */
.project {
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-top: 370px;
}

#photo1 {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: 1500px;
    margin-top: -200px;
    border-radius: 100px;
}

#about {
    margin-top: 100px;
}

.contact{

    margin-top: 200px;
    text-align: center;
}

.map{
    margin-top: 100px;
    text-align: center;

}